@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  /* direction: rtl; */
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1527576539890-dfa815648363?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80')
}

ul.hidden li:hover::after,
ul.sm\\:flex li:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  box-shadow: 0 2px 4px gray;
  margin-top: 3px;
}