@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  /* direction: rtl; */
}

.custom-img {
  background-image: url('/bg.avif')
}

ul.hidden li:hover::after,
ul.sm\\:flex li:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  box-shadow: 0 2px 4px gray;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .ml-80 {
    margin-left: 20px;
  }

  .mb-20 {
    margin-bottom: 10px;
  }

  .mb-40 {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .ml-80 {
    margin-left: 10px;
  }

  .text-3xl {
    font-size: 1.8rem;
  }
}
